ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
@mixin grid($cols,$mgn) {
    float: left;
    margin-right: $mgn;
    margin-bottom: $mgn;
    width: ((100% - (($cols - 1) * $mgn)) / $cols);
    &:nth-child(#{$cols}n){
        margin-right: 0;
    }
}
#projects li{
    @include grid(4, 3%);
    img{
        width: 100%;
    }
}