@import 'mixind';
// @use doesnt work :c 

@mixin mQ($arg){
    @media screen and (max-width: $arg) {
        @content;
    }
}

#dupa{
    color: red;
    @include mQ(600px){
        color: blue;
    }
}
#cloud{
    color: map-get($colors,"seven");
}